html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(165, 131, 231);
}
h1{
    color: rgb(234, 212, 255);
    text-align: center;
    padding: 2%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 515%;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 5%;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: purple, rgb(165, 131, 231); 
    font-size: 400%;
}
p{
    padding: 1%;
}
header{
    background-color: rgb(165, 131, 231);
    width: 100%;
    padding: 2%;
}

.logo{
    background-color: rgb(165, 131, 231);
    text-align: center;
   color: rgb(174, 0, 255);
    font: size 1.5em;
}
nav{
    text-align: center;
    color: rgb(170, 0, 255);
    font-size: 1.5em;
}

.banner{
    width: 100%;
}

.container{
    background-color: rgb(163, 5, 255);
    width: 80%;
    margin: auto;
    color: aliceblue;
    padding: 2%;
}

footer{
    background-color: rgb(165, 131, 231);
    width: 100%;
}

.lendas{
    padding-right: 100%;
}

.ladodir{
    float: right;
    margin-left: 2%;
    margin-bottom: 2%;
}

.imgmeio{

}
.linha {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.col-6{
    width: 50%;
}
a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(213, 4, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(142, 0, 181);
  }
  
  /* selected link */
  a:active {
    color: rgb(67, 1, 100);
  }
  @media (max-width: 600px) {
    .linha{
      flex-direction: column;
    }
    .col-6{
        width: 100%;
    }
  }