html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(165, 131, 231);
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 515%;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 5%;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: purple, rgb(165, 131, 231); 
    font-size: 400%;
}
p{
    padding: 1%;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    color: #ffffff;
}
header{
    background-color: rgb(165, 131, 231);
    width: 100%;
    padding: 2%;
}

.logo{
    background-color: rgb(165, 131, 231);
    text-align: center;
   color: rgb(174, 0, 255);
    font: size 1.5em;
}
nav{
    text-align: center;
    color: rgb(170, 0, 255);
    font-size: 1.5em;
}

.banner{
    width: 100%;
}

.container{
    background-color: rgb(163, 5, 255);
    width: 80%;
    margin: auto;
    color: aliceblue;
    padding: 2%;
}

footer{
    background-color: rgb(165, 131, 231);
    width: 100%;
}

.lendas{
    padding-right: 100%;
}

.ladodir{
    float: right;
    margin-left: 2%;
    margin-bottom: 2%;
}

.imgmeio{

}
.linha {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.col-6{
    width: 50%;
}
a:link {
    color: rgb(255, 255, 255);
  }
  
  a:visited {
    color: rgb(98, 0, 116);
  }
  
  a:hover {
    color: rgb(142, 0, 181);
  }
  
  a:active {
    color: rgb(67, 1, 100);
  }
  @media (max-width: 600px) {
    .linha{
      flex-direction: column;
    }
    .col-6{
        width: 100%;
    }
  }

  .img-card{
    background-image: linear-gradient(to right, rgb(204, 0, 255) rgb(255, 0, 187));
    width: 90%;
    border-style: double;
    border-color: rgb(169, 169, 169);
    border-width: 5px;
    box-shadow: 15px 15px 15px 2px rgba(40, 0, 78, 0.911);
    transition: o.3s;
    background-image: linear-gradient(to right, rgb(103, 0, 172), rgb(100, 0, 139));
}
.card{
    background-image: linear-gradient(to right, rgb(225, 181, 255), rgb(213, 179, 253));
    width: 90%;
    box-shadow: 15px 15px 15px 2px rgba(135,206,250, 0.3); 
    transition: 0.3s;   
    border-style: double;
    border-color: #ffffff;
    border-width: 5px;
    box-shadow: 15px 15px 15px 2px rgba(86, 32, 129, 0.911);
}

table, th, td {
    border: 10px solid rgb(255, 255, 255);
    border-collapse: collapse;
  }
  th, td {
    background-color: #e8b5ff;
  }
table {

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 10px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

li{
  
  font-family:inherit;
  padding-top: 1%;
  padding-right: 2%;
  display: inline-block;
  padding: 20px
}

ol{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  padding-top: 1%;
}
ul { list-style-type: disc;
  color: #9663B8 ;
  font-size: 25px;
  font-weight: bold; }

.secbanner{
  width: 100%;
}
form {
  max-width: 400px;
  margin: 0 auto;
}

label, input, textarea {
  display: block;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #9b4caf;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.instagram-container {
  display: flex;
  align-items: center;
}

.instagram-container img {
  width: 75px;
  margin-right: 10px;
}

.instagram-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: #a840e4;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.instagram-link:hover {
  background-color: #bd56f8;
}

.custom-list {
  list-style-type: none;
  padding: 0;
  color: #ffffff;
}

.custom-list li:before {
  margin-right: 5px;
}

.custom-list li {
  margin-bottom: 10px;
  padding-left: 20px;
}

.meio{
  text-align: center;
}

.tabelaresponsiva{
  overflow-x: auto;
}

